/*reset*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 1px solid salmon;
}

:focus {
    outline: 2px solid var(--clr-primary-strong);
    outline-offset: 2px;
    transition: var(--transition);
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    html {
        scroll-behavior: initial;
    }
}

/*theme*/

:root {
    --clr-dark: hsl(218, 22%, 67%);
    --clr-light: hsl(204, 43%, 93%);
    --clr-primary: hsl(179, 62%, 43%);
    --clr-primary-strong: hsl(179, 82%, 43%);
    --clr-secondary: hsl(71, 73%, 54%);
    --fs-h2: 1.15rem;
    --fs-text: 0.9rem;
    --fs-lead: 1.15rem;
    --border-radius: 8px;
    --transition: ease background-color .2s;
    /* --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.28); */
    --min-col-width: 20rem;
}

/*layout*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--clr-light);
    color: var(--clr-dark); 

}

main {
    width: min(100%, 60rem);
    margin: 0 auto;
    padding: 1.5rem;
    flex-grow: 1;
    display:grid;
    place-items: center;
}

footer {
    width: 100%;
    margin-top: auto;
    padding: 0.5em;
    place-self: center;
    text-align: center;
}

/*utilities*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.container--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-col-width)), 1fr));
    background-color: #fff;
    outline: 5px solid var(--clr-light);
    border-radius: var(--border-radius);
}

.container--grid>* {
    padding: 1.5rem;
}

.container--grid > div:nth-child(2) {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

.container--grid > div:nth-child(3) {
    background-color: hsl(179, 47%, 52%);
    color: var(--clr-light);
}

@media screen and (min-width: 40rem) {
    .container--grid > div:nth-child(1) {
        grid-column: span 2;
    }
}



/*typography */

h2 {
    font-size: var(--fs-h2);
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 1em;
    /* font-size: min(max(2.5rem, 4.5vw), var(--fs-h2)); */
}

p,
li {
    font-size: var(--fs-text);
}

main p {
    margin: 0 0 1rem;
    max-width: 60ch;
}

.lead {
    font-size: var(--fs-lead);
    color: var(--clr-secondary);
}

.large {
    font-size: 2.5rem;
    font-weight: 700;
}

.small {
    font-size: 0.8rem;
}

a {
    color: var(--clr-primary);
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--clr-primary-strong);
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}

/*buttons*/

.btn {
    display: flex;
    align-items: center;
    align-self: start;
    justify-content: center;
    width: 100%;
    min-height: 44px;
    padding: 0.25em 1em;
    transition: var(transition);
    border: 2px solid var(--clr-secondary);
    border-radius: var(--border-radius);
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    font: inherit;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn--alt {
    background-color: var(--clr-light);
    color: var(--clr-primary);
}

.btn:hover {
    background-color: var(--clr-primary-strong)
}

.btn--alt:hover {
    background-color: var(--clr-primary);
    color: var(--clr-light);
}

/*card*/

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    gap: 2em;
    border-radius: var(--border-radius);
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

ul {
    list-style: none;
}